<h1 align="center">Добро пожаловать, <%= current_user.email %></h1>
<h2 align="center">Ваш текущий пароль - <%= @p.password %>, Время пароля - 10 минут</h2>
<h2><%= link_to "mobile", mobile_root_path %>
<h3 align="center"><%= link_to 'Обратно на главную', root_path %></h3>
