// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_in{
  color: white;
  padding-top: 100px;
}

.sign_in input{
  color: green;
}

.sign_up{
  color: white;
  padding-top: 100px;
}

.sign_up input{
  color: green;
}
