#map{
  background-color:black;
  height:500px;
  width:500px;
  float:left;
  margin-right: 50px;
}

#block{
  position:absolute;
  height:64px;
  width:64px;
}

#chat-log{
  overflow: scroll;
  height: 440px;
}

.btn_dir input{
  width: 100%;
  pointer-events: none;
}

#left{
  width:20%;
  height:20%;
  position: absolute;
  top: 30%;
}

#top{
  width:20%;
  height:20%;
  position: absolute;
  left: 20%;
  top:5%
}

#right{
  width:20%;
  height:20%;
  position: absolute;
  left: 38%;
  top: 30%;
}

#down{
  width:20%;
  height:20%;
  position: absolute;
  left: 20%;
  top: 50%;
}

#fire{
  width:30%;
  height:30%;
  position: absolute;
  top: 17%;
  left: 65%;
}


@media (max-width: 480px) {
  #left{
    top: 20%;
  }

  #right{
    top: 20%;
  }

  #fire{
    top: 15%;
  }

  #down{
    top:35%;
  }
}
