:-webkit-full-screen{
  background: white;
}

:-moz-full-screen {
  background: white;
}

:full-screen {
  background: white;
}

#code{
  font-family: Palatino;
  font-size: 28px;
}

#user_nav{
  color:white;
  font-size: 22px;
  padding-top: 100px;
  font-family: Palatino;
}

#user_nav button{
  color: green;
  font-family: Palatino;
}

#user_nav ul{
  padding-left: 40%;
  padding-top: 30px;
  font-size: 32px;
}

#user_nav a{
  color: red;
  text-decoration: none;
}

.hi p{
  color:white;
}
.welcome_signin{
  font-size: 26px;
  color: white;
  font-weight: 600;
  padding-top: 200px;
}

#btn_fs{
  position:absolute;
  color: white;
  left: 60%;
  top: 1%;
  background-color:black;
}
#map{
  background-color:black;
  height:600px;
  width:600px;
  float:left;
  margin-right: 50px;
}

#chat-log{
  overflow: scroll;
  height: 440px;
}

#block{
  position:absolute;
  height:64px;
  width:64px;
}

.btn_dir input{
  width: 100%;
  pointer-events: none;
}

#left{
  left: 1%;
  width:30%;
  height:30%;
  position: absolute;
  top: 30%;
  background-image: url(left.png);
  background-size: contain;
  background-repeat: no-repeat;
}

body{
  background-image: url(bg.png);
  background-size: cover;
  font-family: Palatino;
}

#top{
  width:30%;
  height:30%;
  position: absolute;
  left: 20%;
  top:5%;
  background-image: url(up.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#right{
  width:30%;
  height:30%;
  position: absolute;
  left: 39%;
  top: 30%;
  background-image: url(right.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#down{
  width:30%;
  height:30%;
  position: absolute;
  left: 20%;
  top: 50%;
  background-image: url(down.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#fire{
  width:50%;
  height:50%;
  position: absolute;
  top: 17%;
  left: 65%;
  background-image: url(fire.png);
  background-size: contain;
  background-repeat: no-repeat;
}


@media (max-width: 480px) {
  #left{
    top: 20%;
    left: 1%;
    width:20%;
    height:20%;
  }

  #right{
    top: 20%;
    width:20%;
    height:20%;
  }

  #fire{
    top: 15%;
    width:30%;
    height:30%;
  }

  #down{
    top:35%;
    width:20%;
    height:20%;
  }

  #top{
    width:20%;
    height:20%;
  }

}
